@font-face {
     font-family: 'Ghibli';
     src: url('/fonts/Eyad\ Al-Samman\ -\ Ghibli.otf') format('opentype');
     font-weight: normal;
     font-style: normal;
}

@font-face {
     font-family: 'Ghibli';
     src: url('/fonts/Eyad\ Al-Samman\ -\ Ghibli-Bold.otf') format('opentype');
     font-weight: bold;
     font-style: normal;
}

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     text-decoration: none;
     list-style: none;
     font-family: 'Ghibli', sans-serif;
}

:root {
     --primary-color: #ff7b00; 
     --secondary-color: #379593; 
     --accent-color: #f2cb07; 
     --background-color: #fafafa; 
     --text-color: #a6a6a6; 
}

#films {
     background-image: url(/assets/leaves.webp);
}